{% extends "network/layout.html" %}

{% block body %}
<p class="button float-right nav-link">Following </p>
<p class="button float-right nav-link">Followers </p>
<br>
<h2>My Posts</h2>
{% for post in posts %}
    <div class="post">
        <div class="post-header">
            <p>{{ post.user.username }}</p>
            <span class="float-right">{{ post.timestamp }}</span>
        </div>
        <div class="post-body">
            <p>{{ post.content }}</p>
        </div>
        <div class="post-footer">
            <span>{{ post.likes.count }} Likes</span>
        </div>
    </div>
{% endfor %}
{% endblock %}