{% extends "network/layout.html" %}

{% block body %}
    <p class="button float-left nav-link"> {{ user.followers.count }} Followers </p>
    <p class="button float-left nav-link"> {{ user.following.count }} Following </p>
    {% if logged_in_user != user.username %}
        {% if logged_in_user in followers %}
            <a href="{% url 'follow' user.username %}" class="button float-right nav-link">Unfollow</a>
        {% else %}
            <a href="{% url 'follow' user.username %}" class="button float-right nav-link">Follow</a>
        {% endif %}

    {% else %}
        <a href="{% url 'new_post' %}" class="button float-right nav-link">New Post </a>
    {% endif %}
    <br>
    <h2>{{ user.username }} Posts</h2>
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                <span class="float-right">{{ post.timestamp }}</span>
            </div>
            <div class="post-body">
                <p>{{ post.content }}</p>
            </div>
            <div class="post-footer">
                <span>{{ post.likes.count }} Likes</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}