{% extends "network/layout.html" %}

{% block body %}
    <a href="{% url 'followers' user.username %}" class="button float-left nav-link"> {{ user.followers.count }} Followers </a>
    <a href="{% url 'followings' user.username %}" class="button float-left nav-link"> {{ user.following.count }} Followings </a>
    {% if logged_in_user != user.username %}
        {% if logged_in_user in followers %}
            <a href="{% url 'follow' user.username %}" class="button float-right nav-link">Unfollow</a>
        {% else %}
            <a href="{% url 'follow' user.username %}" class="button float-right nav-link">Follow</a>
        {% endif %}

    {% else %}
        <a href="{% url 'new_post' %}" class="button float-right nav-link">New Post </a>
    {% endif %}
    <br>
    <h2>{{ user.username }} Posts</h2>
    {% for post in posts %}
    <div class="post" onclick="location.href = '{% url 'post' post.id%}';">
        <div class="post-header">
            <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
            <span class="float-right">{{ post.timestamp }}</span>
        </div>
        <div class="post-body">
            <p>{{ post.content }}</p>
        </div>
        <div class="post-footer">
            <span>{{ post.likes.count }} Likes</span>
        </div>
    </div>
{% endfor %}
<br>
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        {% if posts.has_previous %}
            <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
        {% endif %}
        </li>
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ num }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item">
        {% if posts.has_next %}
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
        </li>
    </ul>
</nav>
{% endblock %}



